# Operations of Database

In [51]:
import pandas as pd

In [1]:
pip install pymongo

Note: you may need to restart the kernel to use updated packages.Requirement already satisfied: pymongo in c:\users\lenovo\anaconda3\lib\site-packages (4.8.0)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\lenovo\anaconda3\lib\site-packages (from pymongo) (2.6.1)

In [ ]:
from pymongo import MongoClient

In [246]:
# To connect cloud Database
url = "mongodb+srv://chetan1:chetan1@cluster0.2c8ti.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"
client = MongoClient(url)

In [286]:
# To see the list of existing Database
database_names = client.list_database_names()
print(database_names)

['wafer', 'admin', 'local']

In [256]:
# To Select the Database
db = client['wafer']

In [268]:
# Drop (delete) the database
client.drop_database('wafer')
print("Database deleted successfully!")

Database deleted successfully!

In [270]:
database_names = client.list_database_names()
print(database_names)

['admin', 'local']

In [126]:
# List all collections in the database
collections = db.list_collection_names()
collections

['customers', 'accounts', 'transactions']

In [138]:
# Delete the collection in selected database
collection = db['customers']
collection.drop()
db.list_collection_names()

['accounts', 'transactions']

# Upload Data in Database

In [153]:
url = "mongodb+srv://chetan1:chetan1@cluster0.2c8ti.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"
client = MongoClient(url)
db = client['Wafer']
collection = db['Wafer_collection']
print(client.list_database_names())
print

['admin', 'local']

In [155]:
df = pd.read_csv("wafer.csv") # Read the CSV file
# Convert DataFrame to a list of dictionaries and insert into MongoDB
data = df.to_dict('records')  # Converts DataFrame rows to list of dictionaries
collection.insert_many(data)
print("CSV data inserted successfully into MongoDB!")

CSV data inserted successfully into MongoDB!

In [276]:
# To check the data
all_documents = collection.find()
all_documents

In [373]:
url = "mongodb+srv://chetan1:chetan1@cluster0.2c8ti.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"
client = MongoClient(url)
db = client['wafer']
collection = db['wafer_collection']

In [377]:
df = pd.DataFrame(collection.find())

In [425]:
df

,Unnamed: 0,Sensor-1,Sensor-2,Sensor-3,Sensor-4,Sensor-5,Sensor-6,Sensor-7,Sensor-8,Sensor-9,...,Sensor-582,Sensor-583,Sensor-584,Sensor-585,Sensor-586,Sensor-587,Sensor-588,Sensor-589,Sensor-590,Good/Bad
0,Wafer-801,2968.33,2476.58,2216.7333,1748.0885,1.1127,100.0,97.5822,0.1242,1.5300,...,NaN,0.5004,0.0120,0.0033,2.4069,0.0545,0.0184,0.0055,33.7876,-1
1,Wafer-802,2961.04,2506.43,2170.0666,1364.5157,1.5447,100.0,96.7700,0.1230,1.3953,...,NaN,0.4994,0.0115,0.0031,2.3020,0.0545,0.0184,0.0055,33.7876,1
2,Wafer-803,3072.03,2500.68,2205.7445,1363.1048,1.0518,100.0,101.8644,0.1220,1.3896,...,NaN,0.4987,0.0118,0.0036,2.3719,0.0545,0.0184,0.0055,33.7876,-1
3,Wafer-804,3021.83,2419.83,2205.7445,1363.1048,1.0518,100.0,101.8644,0.1220,1.4108,...,NaN,0.4934,0.0123,0.0040,2.4923,0.0545,0.0184,0.0055,33.7876,-1
4,Wafer-805,3006.95,2435.34,2189.8111,1084.6502,1.1993,100.0,104.8856,0.1234,1.5094,...,NaN,0.4987,0.0145,0.0041,2.8991,0.0545,0.0184,0.0055,33.7876,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Wafer-896,3013.66,2526.44,2185.2111,1141.6306,0.8447,100.0,100.5978,0.1217,1.5337,...,NaN,0.5013,0.0076,0.0021,1.5152,0.0153,0.0048,0.0017,31.0176,-1
96,Wafer-897,2982.87,2477.01,2315.2667,2360.1325,1.1259,100.0,90.1144,0.1160,1.4695,...,NaN,0.5003,0.0106,0.0028,2.1263,0.0153,0.0048,0.0017,31.0176,1
97,Wafer-898,3084.82,2387.42,2171.5000,1028.4440,0.7899,100.0,101.5122,0.1224,1.3603,...,NaN,0.5016,0.0130,0.0028,2.5865,0.0153,0.0048,0.0017,31.0176,-1
98,Wafer-899,2955.87,2541.89,NaN,NaN,NaN,NaN,NaN,NaN,1.4493,...,NaN,0.5023,0.0140,0.0033,2.7810,0.0153,0.0048,0.0017,31.0176,-1
99,Wafer-900,2914.86,2465.11,2210.2778,2120.5760,1.0700,100.0,95.1089,0.1230,1.5817,...,NaN,0.5026,0.0121,0.0032,2.4064,0.0153,0.0048,0.0017,31.0176,1

In [381]:
if "_id" in df.columns:
    df.drop(columns=["_id"], axis =1 , inplace = True)

In [441]:
(list(df.columns))[-1]

'Good/Bad'

In [443]:
x = df.drop(columns = (list(df.columns))[-1], axis = 1)

In [469]:
y = df.drop(columns = (df.columns)[:-1], axis = 1)

In [473]:
y = df["Good/Bad"]

In [475]:
y

0    -1
1     1
2    -1
3    -1
4    -1
     ..
95   -1
96    1
97   -1
98   -1
99    1
Name: Good/Bad, Length: 100, dtype: int64